# Raw and processed data
/data/*.csv
/data/raw/*
/data/cache/*
/data_backup/

# FAISS indices and matrix files
*.faiss
*.npy
*.npz
*.pkl

# Notebook checkpoints
.ipynb_checkpoints/

# System + IDE files
.DS_Store
*.log
*.swp
__pycache__/
